In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [15]:
data_train = pd.read_excel("train_data.xlsx")
data_predict = pd.read_excel("predict_data.xlsx")
data_train.replace("–|-", np.nan, regex=True, inplace=True)
data_predict.replace("–|-", np.nan, regex=True, inplace=True)

In [16]:
data_predict.head()

,pH,electricity,Ca,Mg,Na,K,HCO3,SO4,Cl,mineralisation,alkalinity,colour,NH4,NO3,N,PO4,P,Fe
0,7.01,36,4.26,0.74,1.36,0.24,14.2,3.77,0.97,25.5,232,28,14,3,117,0,2,43
1,6.66,29,1.87,0.77,1.71,0.35,7.32,3.84,1.08,16.9,120,77,NaN,7,252,3,8,82
2,7.08,31,3.21,0.77,1.63,0.36,13.2,2.90,0.90,22.9,216,30,10,16,159,1,5,33
3,6.09,20,1.45,0.66,1.22,0.31,11.2,2.00,1.00,12.2,184,31,19,3,199,0,7,71
4,5.23,10,0.47,0.18,0.59,0.15,NaN,2.30,0.80,4.5,NaN,3,26,1,166,1,6,15

In [17]:
data_train.head()

,pH,electricity,Ca,Mg,Na,K,HCO3,SO4,Cl,mineralisation,...,As_h,Hg_h,Cu_l,Ni_l,Zn_l,Co_l,Cd_l,Pb_l,As_l,Hg_l
0,6.87,33,2.13,0.82,3.32,0.64,16.0,1.2,1.3,25.4,...,2.01,0.077,8.1,7.0,98.0,4.3,0.14,0.79,1.68,0.014
1,7.59,135,3.95,0.36,21.30,5.50,38.6,18.3,2.6,90.6,...,NaN,NaN,94.0,9.8,54.0,4.6,0.80,4.20,NaN,NaN
2,6.44,13,0.40,0.20,1.64,0.34,2.9,1.4,1.3,8.1,...,NaN,0.150,12.0,16.0,125.0,11.6,0.14,3.62,NaN,0.051
3,6.82,35,2.23,0.87,3.14,0.71,15.6,1.3,1.7,25.5,...,5.73,0.119,8.7,5.6,58.0,6.7,0.12,1.90,4.78,0.058
4,5.75,14,0.45,0.36,1.42,0.23,1.2,1.3,1.7,6.5,...,3.02,0.078,48.0,28.0,108.0,9.7,0.26,0.99,1.68,0.054

In [19]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 34 columns):
pH                92 non-null float64
electricity       92 non-null int64
Ca                92 non-null float64
Mg                92 non-null float64
Na                92 non-null float64
K                 92 non-null float64
HCO3              92 non-null float64
SO4               92 non-null float64
Cl                92 non-null float64
mineralisation    92 non-null float64
alkalinity        92 non-null int64
colour            92 non-null int64
NH4               82 non-null object
NO3               92 non-null int64
N                 92 non-null int64
PO4               91 non-null object
P                 91 non-null object
Fe                92 non-null int64
Cu_h              92 non-null float64
Ni_h              92 non-null float64
Zn_h              92 non-null float64
Co_h              92 non-null float64
Cd_h              91 non-null object
Pb_h              92 non-null float64
As_h              56 non-null object
Hg_h              62 non-null object
Cu_l              92 non-null float64
Ni_l              92 non-null float64
Zn_l              92 non-null float64
Co_l              92 non-null float64
Cd_l              91 non-null object
Pb_l              92 non-null float64
As_l              55 non-null object
Hg_l              61 non-null object
dtypes: float64(19), int64(6), object(9)
memory usage: 21.2+ KB

In [20]:
data_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 18 columns):
pH                428 non-null float64
electricity       421 non-null object
Ca                428 non-null object
Mg                427 non-null object
Na                428 non-null float64
K                 428 non-null float64
HCO3              427 non-null object
SO4               428 non-null float64
Cl                428 non-null float64
mineralisation    428 non-null float64
alkalinity        427 non-null object
colour            420 non-null object
NH4               375 non-null object
NO3               421 non-null object
N                 405 non-null object
PO4               406 non-null object
P                 416 non-null object
Fe                423 non-null object
dtypes: float64(6), object(12)
memory usage: 40.2+ KB

,pH,electricity,Ca,Mg,Na,K,HCO3,SO4,Cl,mineralisation,...,Cu_h,Ni_h,Zn_h,Co_h,Pb_h,Cu_l,Ni_l,Zn_l,Co_l,Pb_l
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.00000,92.000000,92.000000,92.000000,92.000000
mean,6.715543,60.739130,3.322717,1.159457,7.172174,1.230543,15.317935,9.423043,4.519783,41.981413,...,185.897500,663.907609,105.889130,25.227391,20.174674,21.78663,27.569565,82.986957,10.056848,4.551630
std,0.595823,138.283899,6.769468,1.567850,27.193102,2.284797,21.241249,44.088708,12.001979,98.192002,...,1071.332135,4982.246891,73.277567,71.616618,23.011631,16.32370,48.471167,59.535490,7.925865,4.990467
min,4.640000,8.000000,0.150000,0.010000,0.560000,0.070000,0.060000,0.400000,0.600000,4.000000,...,6.100000,11.000000,11.000000,1.900000,1.500000,2.40000,5.000000,16.000000,1.300000,0.400000
25%,6.495000,24.000000,0.957500,0.435000,1.875000,0.340000,5.272500,1.675000,1.100000,15.850000,...,14.925000,22.000000,58.000000,5.000000,6.150000,11.50000,12.300000,41.000000,4.375000,1.575000
50%,6.740000,36.000000,2.045000,0.820000,2.785000,0.560000,9.750000,2.450000,1.700000,24.950000,...,23.700000,36.500000,97.500000,8.200000,12.500000,18.00000,20.000000,73.000000,8.950000,3.510000
75%,6.987500,54.250000,2.857500,1.290000,6.137500,0.920000,17.850000,4.200000,2.925000,35.800000,...,53.000000,75.250000,132.250000,23.700000,25.200000,27.52500,27.250000,100.250000,12.000000,5.075000
max,8.850000,1296.000000,60.000000,10.900000,262.100000,17.000000,166.500000,418.200000,111.500000,908.500000,...,10234.000000,47805.000000,487.000000,661.000000,135.600000,94.00000,468.000000,390.000000,53.000000,35.100000